body {
  background-image: url("./normal.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  overflow: hidden;
}

.blurred-bg {
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.box {
  width: 500px;
  height: 300px;
  left: -webkit-calc( 50% - 250px );
  top: 20%;
  position: absolute;
  border-radius: 5px;
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  transition: box-shadow .3s ease;
}
.box:active {
  cursor: move;
  -moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
}
.box .content {
  margin: auto;
}

h1, h2, h3, a, p {
  color: white;
  font-weight: 500;
}
.tinted h1, .tinted h2, .tinted a, .tinted p {
  color: white;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

.man {
  display: flex;
  justify-content: center;
  align-items: center;
}
.musicplayer {
  position: fixed;
  top: 5%;
  right: 3%;
  z-index: 999999;
}

.heart {
  margin: 0 20px;
  width: 20px;
  height: 20px;
  background: red;
  position: relative;
  transform: rotate(45deg) scale(0.5);
  animation: heartbit 0.5s alternate infinite;
}

.heart::before {
  content: '';
  width: 20px;
  height: 10px;
  background: red;
  position: absolute;
  left: 0;
  top: -10px;
  border-radius: 10px 10px 0 0;
}

.heart::after {
  content: '';
  width: 10px;
  height: 20px;
  background: red;
  position: absolute;
  left: -10px;
  top: 0;
  border-radius: 10px 0 0 10px;
}

@keyframes heartbit {
  0% {
    transform: rotate(45deg) scale(0.5);
  }

  100% {
    transform: rotate(45deg) scale(1);
  }
}